html, body, .keys {
    height: 100%
}

body {
    margin: 0;
    background-color: #e6e6e6;
}

.keys {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    display: flex;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25%;
    font-size: 30px;
    text-shadow: 2px 2px 3px lightslategrey;
    box-shadow: 2px 2px 5px 1px #607d8b;
    align-items: center;
    justify-content: center;
}

.key:hover {
    border-color: white;
    color: white;
    transform: scale(1.1);
}
